name: 'g++'

on:
  push:
    branches:
      - 'main'
  pull_request:

permissions:
  contents: read
  actions: read
  checks: write

env:
  BUILD_TYPE: Debug
  SOCI_BACKENDS_PATH: ${{github.workspace}}/build/lib

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install apt-get dependencies
        run: |
          sudo apt-get update -y \
           && sudo apt-get install -y ninja-build build-essential libstdc++-13-dev \
             g++-13 sqlite3 libsqlite3-dev

      - name: Initialize submodules
        run: git submodule update --init --recursive

      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build \
            -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
            -DCMAKE_CXX_COMPILER=/usr/bin/g++-13 \
            -GNinja

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Run tests
        working-directory: ${{github.workspace}}/build/
        run: ctest -C ${{env.BUILD_TYPE}} --output-on-failure